@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:200,900');
@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url("https://fonts.googleapis.com/css?  family=Lora:400,400i,700,700i");
:root {
    --darkgray: #212329;
    --brightred: #F9423D;
    --white: #fff;
    --lightred: #f9433dcc;
    --text-color: rgb(248, 220, 217);
    --shadow-color: rgba(114, 23, 0, 0.4);
    --btn-color: hsl(2, 47%, 56%);
    --btn-contact: hsl(59, 100%, 51%);
    --bg-color:#343f4f;
    --color1:#343f4f;
    --color2: #FFDCC0;
}

/* FFDCC0 */
/* CE7B78 */


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;   
    scroll-behavior: smooth;
    
}

@media only screen and (min-width: 769px) and (max-device-width : 1024px)  {
  html {
    transform: scale(0.67);
  }
}




a.anchor {
  display: block;
  position: relative;
  top: 0px;
  visibility: hidden;
}


a.anchorNonAbout {
    display: block;
    position: relative;
    top: -8px;
    visibility: hidden;
}

a.anchorresume {
  display: block;
  position: relative;
  top: -50px;
  visibility: hidden;
}

.nav-container {
    width: 100%;
    background-color: var(--darkgray);
    
}

.navbar {
    display: grid;
    grid-template-columns: 0.2fr auto 1fr;
    align-items: center;
    height: 80px;
    width: 90%;
    max-width: 1720px;
    margin: 0 auto;
}

#navbar-logo {
    color: var(--white);
    justify-self: start;
    margin-left: 20px;
    font-family: 'Nunito', sans-serif;
}

#navbar-logo {
    cursor: pointer;
}

.nav-menu {
    display: grid;
    grid-template-columns: repeat(5, auto);
    list-style: none;
    text-align: center;
    width: 80%;
    justify-self: end;
}

.nav-links {
    color: white;
    text-decoration: none;
}

.nav-links:hover {
    color: var(--brightred);
    transition: all 0.2s ease-out;
    ;
}

.nav-links-btn {
    background-color: var(--brightred);
    padding: 6px 16px;
}

.nav-links-btn:hover {
    background-color: transparent;
    color: var(--white);
    padding: 5px 15px;
    border-radius: 4px;
    border: solid 1px var(--brightred);
    transition: all 0.3s ease-out;
}

.menu-toggle .bar {
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background: var(--white);
}

@media screen and (max-width: 768px) {
    .nav-container {
        position: relative;
        
    }
    .nav-menu {
        display: grid;
        grid-template-columns: auto;
        background: var(--brightred);
        margin: 0;
        width: 100%;
        position: absolute;
        top: 80px;
        left: -100%;
        opacity: 0;
        transition: all 0.5s ease;
    }
    #navbar-logo {
        margin-left: 20px;
    }
    .nav-menu.active {
        background: var(--darkgray);
        left: 0;
        opacity: 1;
        transition: all 0.5s ease;
    }
    .nav-links {
        text-align: center;
        line-height: 60px;
        width: 100%;
        display: table;
    }
    .nav-links:hover {
        background-color: var(--brightred);
        color: var(--white);
        transition: all 0.4s ease-out;
    }
    .navbar {
        width: 100%;
    }
    .nav-links-btn {
        border: none;
        padding: 0;
        border-radius: 0;
        background-color: var(--darkgray);
        color: var(--white);
        transition: all 0.4s ease-out;
    }
    .nav-links-btn:hover {
        border: none;
        padding: 0;
        border-radius: 0;
        background-color: var(--brightred);
        color: var(--white);
        transition: all 0.4s ease-out;
    }
    #mobile-menu {
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
    }
    .menu-toggle .bar {
        display: block;
        cursor: pointer;
    }
    .menu-toggle:hover {
        cursor: pointer;
    }
    #mobile-menu.is-active .bar:nth-child(2) {
        opacity: 0;
    }
    #mobile-menu.is-active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    #mobile-menu.is-active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}

html,
body {
    width: 100%;
    height: 100%;
    /* display: flex; */
    /* align-items: center;
    justify-content: center; */
    background-color:var(--color1);
    
}

button {
    position: relative;
    padding: 10px 15px;
    border: none;
    background: none;
    cursor: pointer;
    font-family: "Source Code Pro";
    font-weight: 900;
    text-transform: uppercase;
    font-size: 20px;
    color: var(--text-color);
    background-color: var(--btn-color);
    box-shadow: var(--shadow-color) 2px 2px 22px;
    border-radius: 4px;
    z-index: 0;
    overflow: hidden;
}

button .contact {
    background-color: var(--btn-contact);
}

button:focus {
    outline-color: transparent;
    box-shadow: var(--btn-color) 2px 2px 22px;
}

.right::after,
button::after {
    content: var(--content);
    display: block;
    position: absolute;
    white-space: nowrap;
    padding: 40px 40px;
    pointer-events: none;
}

button::after {
    font-weight: 200;
    top: -30px;
    left: -25px;
}

.right,
.left {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
}

.right {
    left: 66%;
}

.left {
    right: 66%;
}

.right::after {
    top: -30px;
    left: calc(-66% - 20px);
    background-color: rgb(99, 51, 51);
    color: transparent;
    transition: transform .4s ease-out;
    transform: translate(0, -90%) rotate(0deg)
}

button:hover .right::after {
    transform: translate(0, -47%) rotate(0deg)
}

button .right:hover::after {
    transform: translate(0, -50%) rotate(-7deg)
}

button .left:hover~.right::after {
    transform: translate(0, -50%) rotate(7deg)
}


/* bubbles */

button::before {
    content: '';
    pointer-events: none;
    opacity: .6;
    background: radial-gradient(circle at 20% 35%, transparent 0, transparent 2px, var(--text-color) 3px, var(--text-color) 4px, transparent 4px), radial-gradient(circle at 75% 44%, transparent 0, transparent 2px, var(--text-color) 3px, var(--text-color) 4px, transparent 4px), radial-gradient(circle at 46% 52%, transparent 0, transparent 4px, var(--text-color) 5px, var(--text-color) 6px, transparent 6px);
    width: 100%;
    height: 300%;
    top: 0;
    left: 0;
    position: absolute;
    animation: bubbles 5s linear infinite both;
}

@keyframes bubbles {
    from {
        transform: translate();
    }
    to {
        transform: translate(0, -66.666%);
    }
}

/*
#home{
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: #343f4f;   
}
*/

/* typing text */














.wrapper{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    min-height: 95vh;
    position: relative;
    z-index: 1;
    background: #343f4f;
    font-family: 'Nunito', sans-serif;
    
    
}

.wrapper .static-txt{
    color: #fff;
    font-size: 60px;
    font-weight: 400;
    margin-left: 200px;
    margin-top: 450px;
}

.wrapper .dynamic-txts{
    margin-left: 15px;
    margin-top: 450px;
    height: 90px;
    line-height: 90px;
    overflow: hidden; 
}

/* developer texts */
.dynamic-txts li{
    color: #fc6d6d;
    list-style: none;
    font-size: 60px;
    font-weight: 500;
    position: relative;
    top: 0;
    animation: slide 8s steps(4) infinite;
}

@keyframes slide {
    100% {
        top: -360px;
    }
}

.dynamic-txts li span{
    position: relative;
}

.dynamic-txts li span::after{
    content: "";
    position: absolute;
    left: 0;
    top: 100;
    height: 100%;
    width: 100%;
    background: #343f4f;
    border-left: 2px solid #fc6d6d;
    animation: typing 2s steps(12) infinite;
}

@keyframes typing {
    100%{
        left: 100%;
        margin: 0 -35px 0 35px;
    }
}
 



.circlesback{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  
  z-index: 1;
}

.circlesback li{
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.2);
  animation: animate2 20s linear infinite;
  bottom: -1000px;
  
}

.circlesback li:nth-child(1){
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}


.circlesback li:nth-child(2){
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circlesback li:nth-child(3){
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.circlesback li:nth-child(4){
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circlesback li:nth-child(5){
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.circlesback li:nth-child(6){
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

.circlesback li:nth-child(7){
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}

.circlesback li:nth-child(8){
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.circlesback li:nth-child(9){
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.circlesback li:nth-child(10){
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}



@keyframes animate2 {

  0%{
      transform: translateY(0) rotate(0deg);
      opacity: 1;
      border-radius: 0;
  }

  100%{
      transform: translateY(-1000px) rotate(720deg);
      opacity: 0;
      border-radius: 50%;
  }

}




























/* hi my name is*/
.top-title {
    font-family: 'Press Start 2P', cursive;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    font-size: 20px;
    font-weight: 4px;
    color: #fff;
    margin-left: -500px;
    margin-top: 110px;
    
}

/* vinesh*/
.vinesh-title {
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    
    margin-left: -150px;
    margin-top: 235px;
}

.vinesh-title h2
{
    position: absolute;
    color: #fff;
    transform: translate(-50%,-50%);
    font-size: 8em;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.vinesh-title h2:nth-child(1)
{
    color:transparent;
    -webkit-text-stroke: 2px var(--color2);
}

.vinesh-title h2:nth-child(2)
{
    color: var(--color2);
    animation: animate1 4s ease-in-out infinite;
}

@keyframes animate1 
{
    0%,100%
    {
        clip-path: polygon(0 49%, 16% 39%, 36% 42%, 49% 54%, 68% 60%, 85% 56%, 100% 46%, 100% 100%, 1% 100%);

    }
    50%
    {
        clip-path: polygon(0 49%, 15% 60%, 34% 64%, 49% 54%, 65% 36%, 87% 35%, 100% 46%, 100% 100%, 1% 100%);
    }
}

/*vivekanand*/
.vivekanand-title {
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    
    margin-left: 185px;
    margin-top: 370px;
}

.vivekanand-title h2
{
    position: absolute;
    color: #fff;
    transform: translate(-50%,-50%);
    font-size: 8em;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.vivekanand-title h2:nth-child(1)
{
    color:transparent;
    -webkit-text-stroke: 2px var(--color2);
}

.vivekanand-title h2:nth-child(2)
{
    color: var(--color2);
    animation: animate1 4s ease-in-out infinite;
}

@keyframes animate1 
{
    0%,100%
    {
        clip-path: polygon(0 49%, 16% 39%, 36% 42%, 49% 54%, 68% 60%, 85% 56%, 100% 46%, 100% 100%, 1% 100%);
    }
    50%
    {
        clip-path: polygon(0 49%, 15% 60%, 34% 64%, 49% 54%, 65% 36%, 87% 35%, 100% 46%, 100% 100%, 1% 100%);
    }
}




.pacman-top{
    position: relative;
    z-index: 3;
    background-color:yellow;
    height:50px;
    width:100px;
    top: -200px;
    left: 225px;
    border-radius:100px 100px 0 0;
    animation: spin1 0.5s infinite linear;
  }
  
  .pacman-bottom{
    position: relative;
    z-index: 3;
    background-color:yellow;
    height:50px;
    width:100px;
    top: -200px;
    left: 225px;
    border-radius:0 0 100px 100px;
    animation: spin2 0.5s infinite linear;
  }
  
  .feed {
  margin-top: -325px;
  margin-left:300px;
  width: 22.5px;
  height: 22.5px;
  border-radius: 50%;
  position: relative;
  z-index: 3;
  -moz-animation: eat 1s linear 0s infinite;
  -webkit-animation: eat 1s linear 0s infinite;
  animation: eat 1s linear 0s infinite;
  }   
  
  /* Animation*/
  
  @keyframes spin1 {
      0%  {transform: rotate(0deg);}
      50%{transform: rotate(-35deg);}
    
  }
  @keyframes spin2 {
      0%  {transform: rotate(0deg);}
    50%{transform: rotate(35deg);}	
  }
  
  @-moz-keyframes spin1 {
      0%  {transform: rotate(0deg);}
      50%{transform: rotate(-35deg);}
    
  }
  @-moz-keyframes spin2 {
      0%  {transform: rotate(0deg);}
    50%{transform: rotate(35deg);}	
  }
  
  @-webkit-keyframes spin1 {
      0%  {transform: rotate(0deg);}
      50%{transform: rotate(-35deg);}
    
  }
  @-webkit-keyframes spin2 {
      0%  {transform: rotate(0deg);}
    50%{transform: rotate(35deg);}	
  }
  
  @keyframes eat {
      0% { box-shadow: 
        100px 65px 0 0 white, 
        300px 65px 0 0 white, 
        500px 65px 0 0 white, 
        700px 65px 0 0 white,
        900px 65px 0 0 white, 
        1100px 65px 0 0 white, 
        1300px 65px 0 0 white;}
    
  100% { box-shadow: 
        0px 65px 0 0 white, 
        100px 65px 0 0 white,
        300px 65px 0 0 white, 
        500px 65px 0 0 white, 
        700px 65px 0 0 white, 
        900px 65px 0 0 white, 
        1100px 65px 0 0 white;}
  }
  
  
  @-moz-keyframes eat {
      0% { box-shadow: 
        100px 65px 0 0 white, 
        300px 65px 0 0 white, 
        500px 65px 0 0 white, 
        700px 65px 0 0 white,
        900px 65px 0 0 white, 
        1100px 65px 0 0 white, 
        1300px 65px 0 0 white;}
    
  100% { box-shadow: 
        0px 65px 0 0 white, 
        100px 65px 0 0 white,
        300px 65px 0 0 white, 
        500px 65px 0 0 white, 
        700px 65px 0 0 white, 
        900px 65px 0 0 white, 
        1100px 65px 0 0 white;}
  }
  
  
  
  @-webkit-keyframes eat {
      0% { box-shadow: 
        100px 65px 0 0 white, 
        300px 65px 0 0 white, 
        500px 65px 0 0 white, 
        700px 65px 0 0 white,
        900px 65px 0 0 white, 
        1100px 65px 0 0 white, 
        1300px 65px 0 0 white;}
    
  100% { box-shadow: 
        0px 65px 0 0 white, 
        100px 65px 0 0 white,
        300px 65px 0 0 white, 
        500px 65px 0 0 white, 
        700px 65px 0 0 white, 
        900px 65px 0 0 white, 
        1100px 65px 0 0 white;}
  }
  

  .VineshPhoto {
    width: 500px;
    height: 500px;
    margin-left: 385px;
    margin-top: 100px;
    border-radius: 50%;
    position: relative;
    z-index: 415;
    background-color: var(--color1);
}
  
  @keyframes cycle-colors {
    0% { border-color: hsl(241, 100%, 83%); }
    25% { border-color: hsl(226, 100%, 59%); }
    50% { border-color: hsl(229, 38%, 91%); }
    75% { border-color: hsl(226, 100%, 59%);  }
    100% { border-color: hsl(241, 100%, 83%);; }
  }
  
  @keyframes pulse {
    to {
      opacity: 0;
      transform: scale(1);
    }
  }
  
  .avatar::before,
  .avatar::after {
    animation: pulse 2s linear infinite;
    border: #fff solid 8px;
    border-radius: 9999px;
    box-sizing: border-box;
    content: ' ';
    height: 690px;
    left: 1160px;
    opacity: .6;
    position: absolute;
    top: 90px;
    transform: scale(0.714);
    width: 690px;
    z-index: 1;
  }
  
  .avatar::after {
    animation-delay: 1s;
  }
  

  
  .avatar:hover::before,
  .avatar:hover::after {
    animation: pulse 1s linear infinite, cycle-colors 6s linear infinite;
  }
  
  .avatar:hover::after {
    animation-delay: .5s;
  }

  /*dino*/

  @keyframes jump {
    0%   {transform: translate3d(0,0,0) scale3d(1,1,1);}
    40%  {transform: translate3d(0,30%,0) scale3d(.7,1.5,1);}
    100% {transform: translate3d(0,100%,0) scale3d(1.5,.7,1);}
  }
  .jump {
    position: relative;
    top: 100px;
    left: 295px;
    transform-origin: 50% 50%;
    animation: jump .5s linear alternate infinite;
    z-index: 11;
  }

  
  /*mushroom*/

  .MushroomRotate {
    position: relative;
    top: 460px;
    left: -100px;
    animation: rotation 6s infinite linear;
  }
  
  @keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }
  
  /* rocket*/
  .rocketlaunch {
    width: 140px;
    height: auto;
    position: absolute;
    bottom: 0px;
    left: 30px;
    animation: fly 10s .5s infinite;
}

@keyframes fly {
    0% {
        bottom: 0px;
    }

    50% {
        bottom: 100%;
    }

    100% {
      bottom: 0px;
  }
}




/* .AboutMe{
    background-color: #ffdcc0;
} */

/* Slideshow container */
.slideshow-container {
    max-width: 700px;
    position: relative;
    left: 100px;
    top: 70px;
    box-shadow: 10px 9px 5px var(--darkgray);
    
    
    
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: var(--darkgray);
  }
  
  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #ffffff ;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* The dots/bullets/indicators */
  .dot {
      position: relative;
    cursor: pointer;
    height: 15px;
    width: 15px;
    left: -500px;
    top: 60px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 2s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }

  /*about me title*/













  

  .patterns {
  height: 150px;
  margin-top: 50px;
  background-color: var(--darkgray);
  align-items: center;
  justify-content: center;
}


svg text {
  font-family: Lora;
  letter-spacing: 10px;
  stroke: var(--color2);
  font-size: 120px;
  font-weight: 700;
  stroke-width: 3;
  animation: textAnimate 5s infinite alternate;
}

@keyframes textAnimate {
  0% {
    stroke-dasharray: 0 50%;
    stroke-dashoffset:  20%;
    fill:var(--color2);

  }
  
  100% {
    stroke-dasharray: 50% 0;
    stroke-dashoffstet: -20%;
    fill: hsla(189, 68%, 75%,0%)
  }
}

.aboutParagrraph{
    font-family:'Poppins';
    font-size: 20px;
    position: relative;
    top: -300px;
    left: 900px;
    color:var(--color2);
    max-width: 915px;
    background-color: #484B56 ;
    padding: 30px;
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 10px 5px 5px var(--darkgray), -1em 0 .9em var(--darkgray);
    
}





























/*portfolio images*/

/* .PortfolioSection{
    background-color: #ffdcc0;
} */

.portfolioExplain{
  font-family:'Poppins';
  font-size: 20px;
  position: relative;
  top: 40px;
  left: 35.5%;
  color:var(--color2);
    max-width: 540px;
    background-color: #484B56 ;
    padding: 30px;
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 10px 5px 5px var(--darkgray), -1em 0 .9em var(--darkgray);
}

.container-all{
    width: 1720px;
    max-width: 100%;
    margin: 20px auto;
    height: auto;
    padding-top: 80px ;
    position: relative;
    z-index: 20;
    
    
  }
  .container{
    width: calc(33% - 6px);
    overflow:hidden;
    object-fit: cover;
    height: fit-content;
    margin:3px;
    padding: 0;
    display:block;
    position:relative;
    float:left;
    border-radius: 25px;
    box-shadow: 8px 8px 5px var(--darkgray);
    
  }
  
  .container img{
    width: 100%;
    transition-duration: .3s;
    max-width: 100%;
    display:block;
    object-fit: cover;
    cursor:pointer;
    
  }
  .title{
    position:absolute;
    display:block;
    cursor:pointer;
    top: 15%;
    display: none;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    font-size: 3.2em;
    text-shadow: 1px 5px 10px black;
    transition-duration: .3s;
  }
  .text{
    position:absolute;
    top: 50%;
    cursor:pointer;
    max-width: 90%;
    text-align:center;
    left: 50%;
    text-shadow: 1px 5px 10px black;
    font-size: 1.7em;
    display:none;
    margin-right: -50%;
    transition-duration: .3s;
    transform: translate(-50%, -50%) 
  }
  .container:hover img{
    transform: scale(1.2);
    transition-duration: .3s;
    filter: grayscale(70%);
    opacity: .7;
  }
  .container:hover span{
    color:white;
    display: block;
    transition-duration: .3s;
  }
  @media only screen and (max-width: 900px) {
      .container {
          width: calc(50% - 6px);
      }
  }
  @media only screen and (max-width: 400px) {
      .container {
          width: 100%;
      }
  }


  .resumepatterns {
    height: 150px;
    margin-top: 1360px;
    background-color: var(--darkgray);
    align-items: center;
    justify-content: center; 
  }

  .iframe-container{
    margin-top: 30px;
    margin-left: 210px;
    
    
  }






  /*download button*/
  
  .resumeExplain{
    font-family:'Poppins';
    font-size: 20px;
    position: relative;
    top: 120px;
    left: 63.5%;
    color:var(--color2);
      max-width: 540px;
      background-color: #484B56 ;
      padding: 30px;
      text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
      box-shadow: 10px 5px 5px var(--darkgray), -1em 0 .9em var(--darkgray);
  }

  .ms-content {
    position: absolute;
    width: 200px;
    height: 200px;
    top: 4200px;
    left: 1050px;
    right: 0;
    bottom: 0;
    margin: auto;
    border: 10px solid #fdcca4;
    border-radius: 100%;
  }
  
  .ms-content-inside {
    width: 100%;
    height: 100%;
    position: relative;
  }
  
  .ms-line-down-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transform: rotate(0deg);
    transition: transform 0s ease;
  }
  #ms-download {
    display: none;
  }
  #ms-download:checked ~ .ms-line-down-container {
    transform: rotate(-360deg);
    transition: transform 1.5s ease 1.25s;
  }
  
  .ms-line-down {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    width: 10px;
    height: 125px;
    background: var(--darkgray);
    border-radius: 50px;
    transition: height .5s ease;
  }
  
  #ms-download:checked ~ .ms-line-down-container .ms-line-down {
    height: 10px;
    top: -20px;
    animation: ms-bounce .5s forwards .55s;
  }
  #ms-download:checked ~ .ms-line-down-container .ms-line-down:before {
    content: '';
    position: absolute;
    top: 0;
    left: -94px;
    right: 0;
    bottom: 0;
    width: 200px;
    height: 200px;
    border: 10px solid transparent;
    border-radius: 100%;
    animation: ms-border-fill .5s forwards 3s;
  }
  
  .ms-line-point {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 58px;
    height: 130px;
    transition: height .15s ease .45s;
  }
  
  #ms-download:checked ~ .ms-line-point {
    height: 60px;
  }
  
  #ms-download:checked ~ .ms-line-point:before {
    transform: rotate(90deg);
    right: -10px;
    animation: ms-check-right .25s forwards 3s;
  }
  
  #ms-download:checked ~ .ms-line-point:after {
    transform: rotate(-90deg);
    left: -10px;
    animation: ms-check-left .25s forwards 3s;
  }
  
  .ms-line-point:before,
  .ms-line-point:after {
    content: '';
    position: absolute;
    width: 10px;
    height: 75px;
    bottom: -10px;
    background: var(--darkgray);
    border-radius: 50px;
    transition: transform .15s ease .47s, left .15s ease .47s, right .15s ease .47s;
  }
  
  .ms-line-point:before {
    right: 0px;
    transform: rotate(45deg);
  }
  
  .ms-line-point:after {
    left: 0px;
    transform: rotate(-45deg);
  }
  
  @keyframes ms-bounce {
    0% {
      top: -20px;
    }
    25% {
      top: -250px;
    }
    50% {
      top: -275px;
    }
    100% {
      top: -190px;
    }
  }
  
  @keyframes ms-check-left {
    0% {
      transform: rotate(-90deg);
      left: -10px;
      height: 75px;
    }
    100% {
      transform: rotate(-45deg);
      left: 0px;
      height: 45px;
    }
  }
  
  @keyframes ms-check-right {
    0% {
      transform: rotate(90deg);
      right: -10px;
      height: 75px;
      bottom: -10px;
    }
    100% {
      transform: rotate(45deg);
      right: 10px;
      height: 80px;
      bottom: -15px;
    }
  }
  

  /* Contact Me*/

  *:focus,
  *:active {
  outline: none !important;
  -webkit-tap-highlight-color: transparent;
}
  
.body-contact{
  display: grid;
  height: 100%;
  width: 100%;
  font-family: "Poppins", sans-serif;
  place-items: center;
  
}

.contact-wrapper {
    display: inline-flex;
    padding-bottom: 200px;
  }
  
  .contact-wrapper .icon {
    position: relative;
    top: 100px;
    background-color: #ffffff;
    border-radius: 50%;
    padding: 15px;
    margin: 10px;
    width: 170px;
    height: 170px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  .contact-wrapper .tooltip {
    position: absolute;
    top: 0;
    font-size: 24px;
    background-color: #ffffff;
    color: #ffffff;
    padding: 5px 8px;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  .contact-wrapper .tooltip::before {
    position: absolute;
    content: "";
    height: 8px;
    width: 8px;
    background-color: #ffffff;
    bottom: -3px;
    left: 50%;
    transform: translate(-50%) rotate(45deg);
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  .contact-wrapper .icon:hover .tooltip {
    top: -45px;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  
  .contact-wrapper .icon:hover span,
  .contact-wrapper .icon:hover .tooltip {
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
  }
  
  .contact-wrapper .facebook {
    color: #000;
    
  }

  .contact-wrapper .facebook:hover,
  .contact-wrapper .facebook:hover .tooltip,
  .contact-wrapper .facebook:hover .tooltip::before {
    background-color: #3b5999;
    color: #ffffff;
  }
  
  .contact-wrapper .twitter {
    color: #000;
  }
  .contact-wrapper .twitter:hover,
  .contact-wrapper .twitter:hover .tooltip,
  .contact-wrapper .twitter:hover .tooltip::before {
    background-color: #038cd6;
    color: #ffffff;
  }
  
  .contact-wrapper .instagram {
    color: #000;
  }
  .contact-wrapper .instagram:hover,
  .contact-wrapper .instagram:hover .tooltip,
  .contact-wrapper .instagram:hover .tooltip::before {
    background-color: #e1306c;
    color: #ffffff;
  }
  
  .contact-wrapper .github {
    color: #000;
  }
  .contact-wrapper .github:hover,
  .contact-wrapper .github:hover .tooltip,
  .contact-wrapper .github:hover .tooltip::before {
    background-color: #333333;
    color: #ffffff;
  }
  
  .contact-wrapper .youtube:hover,
  .contact-wrapper .youtube:hover .tooltip,
  .contact-wrapper .youtube:hover .tooltip::before {
    background-color: #de463b;
    color: #ffffff;
  }

  .contact-wrapper .fa-linkedin-in {
    transform:scale(5);
  }

  
  .contact-wrapper .fa-envelope {
    transform:scale(5);
  }

  
  .contact-wrapper .fa-instagram {
    transform:scale(5);
  }

  
  .contact-wrapper .fa-github {
    transform:scale(5);
  }

  /* .contact-phone{
    position: relative;
    top: 0px;
    color: #343f4f;
    display: inline-block;
    font-family:'Poppins';
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:center;
  } */

  .contact-email{
    position: relative;
    top: 0px;
    left: -100px;
    color: #343f4f;
    font-family:'Poppins';
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:center;
    /* background-color: #e1306c; */
    border-image-slice:
    12 12 12 12;
    border-image-width:
    12px 12px 12px 12px;
    border-image-outset:
    0px 0px 0px 0px;
    border-image-repeat:
    repeat repeat;
    border-image-source:
    url("https://mdn.github.io/css-examples/tools/border-image-generator/border-image-5.png");
    border-style:
    solid;
  }
  .h2.contact-email{
    color: #de463b;
  }

 

  .contact-copyright{
    position: relative;
    top: 300px;
    color: var(--color2);
    font-family:'Poppins';
    justify-content: center;
    font-size: 12px;

  }
  






























  